
body {
    font-family: 'Inconsolata', monospace;
    background: linear-gradient(
      rgba(0, 0, 0, 0.603), 
      rgba(0, 0, 0, 0.603)
    ),
    url("images/henry.jpg");
    background-size: cover;
    color: whitesmoke;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;

}

table {
    border-collapse: collapse;
    width: 700px;
}

td, th {
    text-align: left;
    padding: 8px;
    text-align: center;
    color: whitesmoke;

}

input {
    font-family: 'Inconsolata', monospace;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
}



button {
    font-family: 'Inconsolata', monospace;
     padding: 5px;
     font-size: 1rem;
     border-radius: 20px;
}

#addButton {
 margin: 40px;
}

.completed {
    text-decoration: line-through;

}
