
body {
    font-family: 'Inconsolata', monospace;
    background: linear-gradient(
      rgba(0, 0, 0, 0.603), 
      rgba(0, 0, 0, 0.603)
    ),
    url("images/henry.jpg");
    background-size: cover;
    color: whitesmoke;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;

}

table {
    border-collapse: collapse;
    
}

td, th {
    text-align: left;
    padding: .5rem;
    text-align: center;
    color: whitesmoke;

}

input {
    font-family: 'Inconsolata', monospace;
    margin-bottom: .6rem;
    padding: .6rem;
    font-size: 1rem;
}



button {
    font-family: 'Inconsolata', monospace;
     padding: .4rem;
     font-size: 1rem;
     border-radius: 1.4rem;
}

#addButton {
    margin: 3rem;
}

.completed {
    text-decoration: line-through;

}
